/* 
fonts:
font-family: "Lobster", sans-serif;   400/700
font-family: "Cabin", sans-serif;    400

colors:
● #373a3c
● #dddddd
● #000 o var(--black)
● #fff o var(--white)
● #dc3545 o var(--danger)
*/
body {
  font-family: "Cabin", sans-serif;
}



/* navbar */
.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#logo{
  font-family: "Lobster", sans-serif;
}
.navbar{
  background-color: #373A3C;
}

/* hero */

.img-hero{
  width: 40vw;
  margin-left: 8rem;
}
#title{
text-align: justify center;
font-family:"Cabin", sans-serif;
}
#sbt{
font-family:"Cabin", sans-serif;
font-weight: bold
}
.recipe{
font-family:"Cabin", sans-serif;
}

/* section carousel */
.img-slider {
  width: 24% !important;
}
#carouselExampleIndicators {
  width: 80vw !important;
}
.carousel-indicators {
  margin-bottom: -3em;
}
.carousel-indicators button {
  width: 15px !important;
  height: 15px !important;
}

hr {
  width: 80vw !important;
}

/* section ingredients */
.ingredients,
.recipes {
  width: 80vw;
}

/*  section newsletter */
.newsletter {
  height: 40vh;
}
.newsletter span {
  font-family: "Lobster", sans-serif;
}
.newsletter button {
  width: 13vw !important;
}

/* footer */
footer {
  background: #373a3c;
  height: 15vh;
}
footer h2 {
  font-family: "Lobster", sans-serif;
}

@media only screen and (max-width: 600px) {
  /* section hero */
  .con-img{
    display: flex;
    justify-content: center;
  }
  .img-hero{
    width: 80vw;
    margin-left: 0;
  }
  /* Section newsletter */
  .newsletter-text {
    width: 80vw;
    padding-top: 2em;
  }
  .newsletter button {
    width: 80vw !important;
  }
}
